html{box-sizing:border-box}
*,:after,:before{box-sizing:inherit}
body{
  margin: 0;
  padding: 0;
  font:17px Lato,helvetica,arial,sans-serif;
  line-height:1.4em;
  color:#4d4d4d;
  font-smoothing:antialiased;
  font-weight:300;
  color:#555;
  /*border-right: 200px solid black;*/
  background: black;
}

h1,h2,h3,h4,h5,h6{
  color:#555;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1em;
}

a,a:visited{
  color:#df2e2e;
  text-decoration:none;
}

.events-container {
  background: white;
}

.events {
  max-width: 1000px;
  list-style-type: none;
  margin: 5em auto;
  padding: 1em;
}

.events li {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  overflow: hidden;
}

.events li time {
  opacity: 0.2;
  color: black;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.events li:hover time {
  opacity: 1;
}
.events li .action {
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 1px;
}

.events li .attachments {
  min-width: 150px;
  padding-left: 0.3em;
}

.events li .attachments .tags,
.events li .attachments .references {
  display: inline-block;
  padding: 0;
}

.events li .attachments .references {
  text-align: right;
}

.tag {
  padding: 0em .5em;
  border-radius: 15px;
  border: 1px solid #df2e2e;
  display: inline-block;
}
.tag:before {
  display: inline-block;
  content: '#';
}

@media (max-width: 768px) {
  .events li {
    display: block;
  }

  .events li .attachments .references {
    float: none;
  }
}
